<section class="{% if post.sticky %}sticky {% endif %}post">
    <h2 class="title">
        <a href="{{ url('blog_post', post.id, post.slug) }}">{{ post.title }}</a>
    </h2>
    <span class="time">
        {%- if post.sticky %}<i title="Sticky" class="fa fa-star fa-fw"></i>{% endif -%}
        {% with authors=post.authors.all() %}
            {%- if authors -%}
                <span class="post-authors">{{ link_users(authors) }}</span>
            {%- endif -%}
        {% endwith %}
        {{ relative_time(post.publish_on, abs=_('posted on {time}'), rel=_('posted {time}')) -}}
    </span>
    <div class="summary content-description">
        {% cache 86400 'post_summary' post.id %}
            {{ post.summary|default(post.content, true)|markdown('blog', 'svg', lazy_load=True)|reference|str|safe }}
        {% endcache %}
    </div>
</section>
